

$base-size: 1rem;
$font-base: $base-size;
$font-default:  16px;
$font-sm: $font-default - 2px;
$font-xsm: $font-default - 4px;
$font-md: $font-default + 2px;
$font-lg: $font-default + 4px;
$font-xlg: $font-default + 6px;

$footer-height-xxs: 176px;
$footer-height-xs: 156px;
$footer-height-sm: 123px;
$footer-height-md: 101px;
$footer-height-lg: 85px;

$media-xlg: 1920px;
$media-lg: 1440px;
$media-md: 1024px;
$media-sm: 768px;
$media-xs: 375px;
$media-xxs: 320px;
