
<div class="flight_details box_shadow">
  <div class="flight_details_container">
   <div class="book_flight">
      <img src='../assets/images/plane.png' />
      <input type="button" class="button" value="{{labels.bookFlight}}">
   </div>
   <div>
      <div class="amount">Rs {{(forwardFlight.cost + returnFlight?.cost) * numberOfPassengers}}</div>
      <section class="flight_id">{{forwardFlight.flightID}}</section>
      <section>{{forwardFlight.departure | cityCode}} > {{forwardFlight.destination | cityCode}}</section> 
      <section>Time: {{forwardFlight.time.departure | timeOnlyFormat}} - {{forwardFlight.time.destination | timeOnlyFormat}}</section>
      <section>Rs {{forwardFlight.cost}}</section>
   </div>
   <div *ngIf="returnFlight">
      <div [style.visibility]="'hidden'" class="amount">Rs {{(forwardFlight.cost + returnFlight?.cost) * numberOfPassengers}}</div>
      <section class="flight_id">{{returnFlight.flightID}}</section>
      <section>{{returnFlight.departure | cityCode}} > {{returnFlight.destination | cityCode}}</section> 
      <section>Time: {{returnFlight.time.departure | timeOnlyFormat}} - {{returnFlight.time.destination | timeOnlyFormat}}</section>
      <section>Rs {{returnFlight.cost}}</section>
   </div>
   
  </div>
</div>