@import '~styles/style';

.search_container {
   margin: 10px;
   padding: 10px;
   height: 100%;
   @include flex-grow(2);
   .tab{
      overflow: hidden;
   }
   .search_form{
      background-color: $color-LightGrey;
      padding: 10px 10px;
      input{
         &[type]:not([type=submit]) {
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            width: 100%;
         }
         &[type=submit]{
            width: 100%;
         }
      }
      .validation-message { 
         text-align: center;
         .error{
            color: $color-Red;
            font-size: $font-xsm;
         }
      }
   }
   .range-heading {
      margin-top: 20px;
   }
}

@media (min-width: $media-xs) {
   .search_container {
      .search_form {
         input{
            &[type=submit]{
               width: 50%;
            }
         }
      }
   }
}
@media (min-width: $media-sm) {
   .search_container {
      .search_form {
         input{
            &[type=submit]{
               width: 100%;
            }
         }
      }
   }
}