@import '~styles/style';

.flight_details {
   margin: 0px 20px;
   .flight_details_container {
      @include flexbox();
      @include flex-direction(column);
      padding: 10px 20px;
      margin-bottom: 20px;
      background-color: $color-White;

      & > div {
         padding: 10px 20px;
         section {
            padding: 5px 0px;
            &.flight_id{
               font-size: $font-sm;
            }
         }
         .amount {
            font-size: $font-xxlg;
            margin-bottom: 10px;
            text-align: center;
         }
         &.book_flight {
            margin: auto;
            img {
               margin: auto;
               display: block;
               padding: 15px;
               width: 80px;
               height: 80px;
            }
            button {
               margin-top: 20px;
            }
         }
      }
   }
}

@media (min-width: $media-sm1) {
   .flight_details {
      .flight_details_container {
         @include flex-direction(row);
         @include flex-wrap(wrap);
         @include justify-content(space-between);
         :nth-child(1) {
            order: 3
         }
         :nth-child(2) {
            order: 1
         }
         :nth-child(3) {
            order: 2
         }
         & > div {
            .amount {
               text-align: left;
            }
         }
      }
   }
}

@media (min-width: $media-md) {
   .flight_details {
      .flight_details_container {
         & > div {
            &.book_flight {
               margin: 0px;
            }
         }
      }
   }
}